<div class="container p-col-12 p-fluid">

  <!-- Título da página -->
  <div class="title-container p-col-12">
    <!--CSS local-->
    <h1 class="title-adjust">Informações do coordendor</h1>
  </div>


  <!-- Informações da página -->
  <div class="p-col-12" style="margin-bottom: 20px;">

    <div>
      <p class="text-container"><b>Nome: </b></p>
      <p class="text-container" style="margin-bottom: 20px;"> nome do coordenador </p>
    </div>

    <div>
      <p class="text-container"><b>Email: </b></p>
      <p class="text-container" style="margin-bottom: 20px;"> email do coordenador </p>
    </div>

    <div>
      <p class="text-container"><b>Senha: </b></p>
      <p class="text-container" style="margin-bottom: 20px;"> senha do coordenador </p>
    </div>

    <div>
      <p class="text-container"><b>Escola: </b></p>
      <p class="text-container" style="margin-bottom: 20px;"> escola do coordenador </p>
    </div>

  </div>

  <!-- Botões -->
  <div class="container-align p-col-12" >
    <button class="button-container" style="display: flex; margin: auto; text-align: center;" pTooltip="Editar informações do coordenador" tooltipPosition="top"><i class="pi pi-pencil"></i>  Editar coordenador</button>
    <div style="width: 5%; display: flex; margin: auto;"><p-divider></p-divider></div>
    <button class="button-container-apagar" style="display: flex; margin: auto; text-align: center;" pTooltip="Apagar coordenador" tooltipPosition="top"><i class="pi pi-trash"></i>  Apagar coordenador</button>
  </div>
</div>
