
<title>Página inicial</title>

<!--Classe de configurações gerais - - design geral (styles.css) -->
<div class="container">

  <!-- Título da página - design geral (styles.css) -->
  <div class="title-container p-col-12">
    <h1>Bem vindo!</h1>
  </div>

  <!-- Primeiro texto da página (subtitulo) - design geral (styles.css) -->
  <div class="text-container p-col-12">
    <p>A lista abaixo contém todos os eventos das escolas, classificados por nome.</p>
  </div>


  <!-- Classe para design de transição do corpo - design geral (styles.css + styles.js) / CANCELLED -->
  <div class="p-grid">
    <div class="p-col-12">

      <!--Tablela contendo o nome das escolas e o nome dos eventos (todos) - design geral (styles.css)-->
      <div class="table-container">
        <p-table [value]="escolas" [lazy]="true" responsiveLayout="scroll"
            [paginator]="true" [rows]="5" [globalFilterFields]="['escolas.nome','escolas.evento']">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="escolas.nome">Nome da escola<p-sortIcon field="nome"></p-sortIcon></th>
                    <th pSortableColumn="escolas.evento">Evento<p-sortIcon field="evento"></p-sortIcon></th>
                    <th style="text-align: center;">Informações sobre o evento</th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="escolas.nome"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="escolas.evento"></p-columnFilter>
                    </th>
                    <th style="text-align: center;" >Clique no  <i class="pi pi-info-circle"></i>  para obter informações sobre o evento.</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-escolas>
                <tr>
                    <td>{{ escolas.nome }}</td>
                    <td>{{ escolas.evento }}</td>
                    <td>

                      <!-- Indicando arota de navegação para o Router -->
                      <nav>
                        <a class="action-button" routerLink="/evento-userg" routerLinkActive="active">
                          <button pButton icon="pi pi-info-circle"></button>
                        </a>
                      </nav>

                    </td>
                </tr>
            </ng-template>
        </p-table>
      </div>

      <!-- Texto normal - design geral (styles.css) -->
      <div class="text-container p-col-12">
        <p>
          Precisa editar ou criar um evento? Faça o login
        </p>

         <!-- Indicando arota de navegação para o Router -->
          <nav>
            <a class="link-container" routerLink="/pagina-login" routerLinkActive="active" pTooltip="Entrar" tooltipPosition="top">
              aqui.
            </a>
          </nav>

      </div>
    </div>

  </div>

</div>
<router-outlet></router-outlet>
