<script src='styles.js'></script>

<div class="container">

  <!-- Título da página -->
  <div class="title-container p-col-12">
    <!--CSS local-->
    <h1 class="title-adjust">Nome do evento</h1>
  </div>


  <!-- Informações da página -->
  <div class="p-col-12" style="margin-bottom: 20px;">

    <div>
      <p class="text-container"><b>Descrição: </b></p>
      <p class="text-container" style="margin-bottom: 20px;"> Descrição </p>
    </div>

    <div>
      <p class="text-container"><b>Data: </b></p>
      <p class="text-container" style="margin-bottom: 20px;"> data </p>
    </div>

    <div>
      <p class="text-container"><b>Endereço: </b></p>
      <p class="text-container" style="margin-bottom: 20px;"> Endereço </p>
    </div>

    <div>
      <p class="text-container"><b>Escola responsável: </b></p>
      <p class="text-container" style="margin-bottom: 20px;"> escola  </p>
    </div>

  </div>


  <!--<div class="p-grid">
    <div class="p-col-12">
      <div class="splitter-container" style="margin-bottom: 40px;"> <!-- Por algum motivo o CSS não funciona, então fiz essa gambiarra -->
        <!--<p-splitter [style]="{'height': '100px', 'background-color': 'aliceblue', 'border-color': 'aliceblue', 'text-align': 'justify'}" layout="horizontal">
          <ng-template pTemplate>
            <p class="text-container" pTooltip="Descrição do evento" tooltipPosition="top">Descrição</p>
          </ng-template>
          <ng-template pTemplate>
              <p class="text-container" style="margin-left: 4px;" pTooltip="Data de realização do evento" tooltipPosition="top">Data</p>
          </ng-template>
        </p-splitter>

        <p-divider></p-divider>

      </div>

      <div class="splitter-container">
        <p-splitter [style]="{'height': '100px', 'background-color': 'aliceblue', 'border-color': 'aliceblue', 'text-align': 'justify' }" layout="horizontal">
          <ng-template pTemplate>
              <p class="text-container" pTooltip="Endereço" tooltipPosition="top">Endereço</p>
          </ng-template>
          <ng-template pTemplate>
            <p class="text-container" style="margin-left: 4px;" pTooltip="Escola responsável" tooltipPosition="top">Escola responsável</p>
          </ng-template>
        </p-splitter>
          <h3 class="text-container" style="text-align: left; margin-top: 20px;"><b>Fotos:</b></h3>
      </div>
    </div>
  </div>-->




  <!-- Galeria -->
  <div style="margin-top: 50px; float: left; margin-left: 200px;">
    Colocar uma galeria aqui (apagar o style dentro desse div)
  </div>

  <!-- Galeria não sei como faz ;-;

  <p-galleria  [(visible)]="displayCustom" [(activeIndex)]="activeIndex" [numVisible]="7"
  [circular]="false" [fullScreen]="false" [showItemNavigators]="true" [showThumbnails]="true" [baseZIndex]="100000">

  <ng-template pTemplate="item" let-item>
      <img [src]="item.previewImageSrc" style="width: 100%; display: block;"/>
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
      <div class="p-grid p-nogutter p-justify-center">
          <img [src]="item.thumbnailImageSrc" style="display: block;"/>
      </div>
  </ng-template>
</p-galleria>
<div *ngIf="images" class="p-grid" style="max-width: 400px;">
  <div *ngFor="let image of images; let index = index;" class="p-col-3" key="index">
      <img [src]="image.thumbnailImageSrc" [alt]="image.alt" style="cursor: pointer" (click)="imageClick(index)"/>
  </div>
-->
</div>
